params {
    ecr_registry = ''
    outdir = '/mnt/workflow/pubdir'
}

manifest {
    nextflowVersion = '!>=23.10'
}

conda {
    enabled = false
}

docker {
    enabled = true
    registry = params.ecr_registry //'<account-id>.dkr.ecr.<region>.amazonaws.com'
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?FASTQC' { container = 'quay/biocontainers/fastqc:0.12.1--hdfd78af_0' }
withName: '(.+:)?MULTIQC' { container = 'quay/biocontainers/multiqc:1.18--pyhdfd78af_0' }
withName: '(.+:)?SEQTK' { container = 'quay/biocontainers/fastp:0.23.4--h5f740d0_0' }
}
