params {
    outdir = '/mnt/workflow/pubdir'
}

timeline {
    enabled = true
    file    = "/mnt/workflow/pubdir/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file    = "/mnt/workflow/pubdir/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file    = "/mnt/workflow/pubdir/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file    = "/mnt/workflow/pubdir/pipeline_info/pipeline_dag.html"
}

manifest {
    nextflowVersion = '!>=24.04.2'
}

conda {
    enabled = false
}

docker {
    enabled = true
}
