def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    nextflowVersion = '!>=23.10'
}

conda {
    enabled = false
}

docker {
    enabled = true
}

process {
withName: '.*' { conda = null }
withName: '(.+:)?SAMPLESHEET_CHECK' { container = 'biocontainers/python:3.8.3' }
withName: '(.+:)?CUSTOM_DUMPSOFTWAREVERSIONS' { container = 'biocontainers/multiqc:1.25.1--pyhdfd78af_0' }
withName: '(.+:)?FASTQC' { container = 'biocontainers/fastqc:0.12.1--hdfd78af_0' }
withName: '(.+:)?MULTIQC' { container = 'biocontainers/multiqc:1.25.1--pyhdfd78af_0' }
withName: '(.+:)?SEQTK' { container = 'staphb/seqtk:1.4' }
}
